<script>
    //generateGraph(divId, sundayVal, mondayVal, tuesdayVal, wednesdayVal, thursdayVal, fridayVal, saturdayVal);
    console.log("The graphScript div on the home page has been filled with the script from the _StartGraph partial view.")
</script>
<div>*pretend the graph is here*</div>