    body {
        padding-top: 250px;
        padding-bottom: 20px;
    }
    .jumbotron {
        background-image: url("img/hsnbANNER.jpg");
        background-size: cover;
        background-position: 0px 50%;
        margin-bottom: 0px;
        padding: 10px;
    }
    .jumbotron h1 {
        color: white;
        font-weight:bold;
        text-shadow: 0px 1px 4px #000000 ;
    }
    .jumbotron h2 {
        color: white;
        font-weight: bold;
        text-shadow: 0px 1px 4px #000000;
    }
    .navbar-inverse {
        background-color: #B9E7F2;
        border-color: #B9E7F2;
    }
    .sidebar {
        position: fixed;
        background-color: #B9E7F2;
    }
    .sidebar ul{
        padding-left:10px;
    }
    .sidebar li {
         margin-top: 20px;
         margin-right:10px;
         display: block;
         list-style: none;
     }
    .sidebar li a {
        color: #273133;
    }
    .sidebar li a:link{
        text-decoration:none;
    }

    .sidebar li a:hover, .sidebar li a:focus {
            color: #EF8326;
    }
    .navbar-inverse .navbar-brand {
        color: #273133;
    }

.navbar-inverse .navbar-nav > li > a {
    color: #273133;
}
    .navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
        color: #EF8326;
    }
    .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
        color: #EF8326;
    }
    /* Set padding to keep content from hitting the edges */
    .body-content {
        padding-left: 15px;
        padding-right: 15px;
        
    }

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.articleBody {
    max-width: 800px;
        
}

.panel-title{
    font-size:1.6em;
}

.text-muted{
    font-size:0.8em;
}

@media (min-width:1200px) {
    .modal-xl {
        width: 100%;
        max-width: 1140px;
    }
}

/*Sam Bebenek - spinner example from https://www.w3schools.com/howto/howto_css_loader.asp*/
.loader {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.admin-graph-selections {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.galleryDescription {
    margin-right: 20%;
}

@media (max-width:1024px) {
    .galleryDescription {
        margin-right: 50%;
    }
}


@media (max-width:600px) {
    .galleryDescription {
        margin-right: 0%;
    }
}