@{
    ViewBag.Title = "Home Page";
}
<!--Loading the graph generator script-->
<!--<script type="text/javascript" src="~/Scripts/GraphGenerator.js"></script>-->
<div class="jumbotron" stlye="back">
        <h2>Welcome To HSN Sudbury</h2>
        <!--The script returned from the partial view that begins drawing the graph will be printed in the below div-->
        <!--The canvas will be put into the below div below, and the graph will draw to that canvas-->
        <div id="graphScript" class="flex-container">
            <div class="loader" id="loader"></div>
        </div>
        <div>
            <canvas id="">
                <!--This canvas is no longer used-->
            </canvas>
        </div>
</div>






@section Scripts {
    @Scripts.Render("~/bundles/jquery") @*ASP loads bundle scripts in the layout after the body, so load it here to use jQuery on window.onload before that is able to load*@
    <script>
        $(document).ready(startGraphGeneration());

        /**
         * Sam Bebenek -
         * This function does an ajax call to start grabbing info from the db to start generating the activity graph and print it to the page. This will be called
         * only once the page is loaded, so that users won't have to wait for the graph to load before seeing the rest of the page.
         */
        function startGraphGeneration() {
            $.ajax({
                url: '@Url.Action("startGraph")',
                //type: 'GET',
                type: 'POST',
                cache: false,
                data: { submit: true }
            }).done(function (result) {
                //remove the loader icon
                $("#loader").remove();
                //output will be printed to the cavnas
                $('#graphScript').html(result);
            });
            console.log("startGraph jQuery AJAX was called");
        }
    </script>
}