@model HSNHospitalProject.Models.Appointments
@{
    ViewBag.Title = "DeleteM";
}

<h2>Are you sure you want to delete old record?</h2>
<div class="navbar">
    <a href="/Appointments/List/">Cancel</a>
</div>
<form method="POST" action="/Appointments/DeleteM">
    <div class="inpfield"><input type="submit" value="Confirm" /></div>
</form>

