@model List<HSNHospitalProject.Models.Appointments>
@{
    ViewBag.Title = "List";
}
<div>
    <a class="btn btn-success" style="margin-top:1em" href="/Appointments/Add">Add New</a>
</div>
<div style="float:right">
    <a class="btn btn-warning" style="margin-top:-4em" href="/Patients/List">Patient Details</a>
</div>
<h2>Appointments</h2>
<div>
    @foreach (var appointments in @Model)
    {
        <h2 style="margin-top:1em;"><a class="btn btn-info" href="/Appointments/show/@appointments.appointmentId">@appointments.appointmentDate.ToLongDateString() @appointments.appointmentDate.ToLongTimeString()</a></h2>
        <div style="margin-left:5em"><a href="/Patients/List/@appointments.patientId">Patient Name:@appointments.Patient.patientFName @appointments.Patient.patientLName</a></div>
        <div style="margin-left:5em"><a href="/Doctors/List/">Doctor Name:@appointments.Doctor.doctorFName @appointments.Doctor.doctorLName</a></div>
    }
</div>
<div>
    <a class="btn btn-danger" style="margin-top:1em" href="/Appointments/DeleteM">Delete Old Appointments</a>
</div>

